/* 图标输入组件样式 */
.buttons-panel .icon-input-container {
    position: relative;
}

/* SVG预览容器 */
.buttons-panel .icon-svg-preview {
    margin-right: 0px;
    margin-left: 0px;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    display: inline-flex;
    align-items: center;
}

/* SVG图标 */
.buttons-panel .icon-svg-preview svg {
    height: 24px;
    width: 24px;
}

/* 图标上传按钮 */
.modal .buttons-panel .setting-item .setting-item-control button.icon-upload-btn {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    color: var(--text-muted);
    opacity: 0.5;
    box-shadow: none;
    padding: 1px 6px;
}

.modal .buttons-panel .setting-item .setting-item-control button.icon-upload-btn:hover {
    color: var(--interactive-accent);
    opacity: 0.8;
}

.is-phone .modal .buttons-panel .setting-item .setting-item-control button.icon-upload-btn:hover {
    background-color: transparent;
}
