
/* 配置面板：帮助的样式 */
.buttons-panel .settings-help .help-title {
    font-weight: bold;
    color: var(--text-accent);
    font-size: 1.1em;
}

.buttons-panel .settings-help .help-list {
    margin: 0 0 0 1.5em;
    padding: 0;
}

.buttons-panel .settings-help .help-sub-list {
    margin: 0 0 0 1.5em;
    padding: 0;
}