.buttons-panel .view-content.buttons-panel {
    padding: 4px 8px 32px;
}

.buttons-panel .buttons-panel-container {
    padding: 0 4px;
}

.buttons-panel .buttons-panel-container .list-category-open,
.buttons-panel .buttons-panel-container .buttons-panel-category.list-category-closed {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--background-modifier-border);
    margin-bottom: 16px;
}